# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
.conda/
*.egg-info/

# Jupyter & IPython
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Output and logs
*.log
*.out

# Data
*.dat
*.fits
*.json
*.pickle
*.hdf5